* {
  margin: 0;
  padding: 0; }

.landing-logo {
  bottom: 20px; }

.header {
  position: relative;
  z-index: -2;
  height: 600px;
  background: url("../img/m-h-day.jpg") no-repeat center top;
  background-position: 0 200;
  background-size: 100% 700px;
  border-bottom-right-radius: 500px 200px; }
  .header .header-wrap {
    margin: auto 10%; }
  .header .header_heading {
    width: 350px;
    white-space: pre-line;
    color: #2c2f3c;
    font-size: 45px;
    font-weight: 700;
    position: static;
    z-index: 2; }
  .header .header_heading:after {
    content: "";
    display: block;
    width: 190px;
    height: 40px;
    position: relative;
    top: -40px;
    background-size: 100px 40px;
    background-color: #14a0c7;
    z-index: -1; }
  .header .header_text {
    white-space: pre-line;
    color: #2c2f3c;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif; }
  .header .landing-logo {
    padding-top: 20px; }
    .header .landing-logo p {
      margin-left: 15px;
      color: #2c2f3c;
      font-weight: bold;
      letter-spacing: 4px; }
  .header .login {
    display: inline-block;
    z-index: -1;
    margin-left: 60px;
    margin-top: 50px;
    color: #fff; }

.section_card_text, .section_banner_text, .footer_text, .footer-cr {
  color: #c0c3ce;
  font-family: "Source Sans Pro", sans-serif; }

.header {
  text-decoration-color: #2c2f3c;
  font-family: "Source Sans Pro", sans-serif; }

.landing-logo {
  display: flex; }
  .landing-logo p span {
    display: block;
    letter-spacing: normal;
    font-size: 8px;
    font-weight: normal;
    margin-left: 10px; }

.section {
  position: relative; }

.section_text {
  color: #2c2f3c;
  display: block;
  position: static;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  margin-top: 30px;
  letter-spacing: 0.035em; }

.section_text::after {
  content: "";
  display: block;
  width: 128px;
  height: 40px;
  position: relative;
  top: -40px;
  left: 50.1%;
  background-color: #14a0c7;
  z-index: -1; }

body {
  background-color: #fff; }

.section_card_wrap {
  top: 10px;
  min-height: 700px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.section_card {
  width: 860px;
  height: 230px;
  background-color: #21232e;
  border-radius: 5px;
  margin: 10px; }

.section_card_img {
  padding: 10px;
  border-radius: 5px;
  float: left;
  width: 280px;
  height: 210px; }

button {
  color: #fff;
  background-color: #699900;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 130px; }
