* {
  margin: 0;
  padding: 0; }

.landing-logo {
  bottom: 20px; }

.header {
  position: relative;
  z-index: -2;
  height: 600px;
  background: url("../img/m-h-night.jpg") no-repeat center top;
  background-size: 100% 700px;
  border-bottom-right-radius: 500px 200px;
  /*.login{
    display: inline-block;
    z-index: -1;
    margin-left: 60px;
    margin-top: 50px;
    color: $header-hasanacc-link-color;
  }*/ }
  .header .header-wrap {
    margin: auto 10%; }
  .header .header_heading {
    width: 500px;
    white-space: pre-line;
    color: #fff;
    font-size: 66px;
    font-weight: 700;
    position: static;
    z-index: 2;
    line-height: 1em; }
  .header .header_heading:after {
    content: "";
    display: block;
    width: 280px;
    height: 55px;
    position: relative;
    top: -58px;
    background-size: 100px 40px;
    background-color: #ff4e33;
    z-index: -1; }
  .header .header_text {
    white-space: pre-line;
    color: #fff;
    font-size: 12px;
    font-family: "Hind", sans-serif;
    letter-spacing: 1px;
    line-height: 1.75em; }
  .header .landing-logo {
    padding-top: 20px; }
    .header .landing-logo p {
      margin-left: 15px;
      color: #fff;
      font-weight: bold;
      letter-spacing: 4px; }
  .header .login {
    color: #fff;
    font-family: "Hind", sans-serif;
    font-size: inherit;
    display: inline-block;
    z-index: -1;
    margin-left: 60px;
    margin-top: 50px; }

.section_banner_text, .footer_text, .footer-cr {
  color: #d1d1d1;
  font-family: "Source Sans Pro", sans-serif; }

.header {
  text-decoration-color: #fff;
  font-family: "Source Sans Pro", sans-serif; }

.landing-logo {
  display: flex; }
  .landing-logo p span {
    display: block;
    letter-spacing: normal;
    font-size: 8px;
    font-weight: normal;
    margin-left: 10px; }

.section {
  position: relative; }

.section_text {
  color: #fff;
  display: block;
  position: static;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 33px;
  margin-top: 30px;
  letter-spacing: 0.035em; }

.section_text::after {
  content: "";
  display: block;
  width: 155px;
  height: 40px;
  position: relative;
  top: -40px;
  left: 50.5%;
  background-color: #ff4e33;
  z-index: -1; }

body {
  background-color: #21232e; }

.section_card_wrap {
  top: 10px;
  min-height: 700px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px; }

.section_card {
  width: 860px;
  height: 230px;
  background-color: #3b3f50;
  border-radius: 5px;
  margin: 10px; }

.section_card_img {
  margin: 10px;
  border-radius: 5px;
  float: left;
  width: 280px;
  height: 210px; }

.section_card_right_container {
  margin: 35px 0 35px 0;
  min-height: 160px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.section_card_heading {
  color: #fff;
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px; }

.section_card_text {
  width: 380px;
  color: #d1d1d1;
  font-weight: normal;
  font-family: "Hind", sans-serif;
  font-size: 11px; }

/*.section_link{
  color: $rest-text-color;
  font-weight: normal;
  font-family: $font2;
  font-size: 11px;
}*/
.section_link {
  color: #d1d1d1;
  font-family: "Hind", sans-serif;
  font-size: 11px; }

.section_banner {
  position: relative;
  bottom: -45px;
  z-index: 0;
  width: 930px;
  height: 90px;
  margin: auto;
  border-radius: 7px;
  background: linear-gradient(90deg, #dea404, #953150); }

button {
  color: #fff;
  background-color: #e3ac00;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 130px; }

.section_banner_text_wrap {
  float: left;
  margin-left: 140px;
  padding: 10px 0; }
  .section_banner_text_wrap .section_banner_text {
    margin-top: 4px; }
  .section_banner_text_wrap .section_banner_heading {
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 23px;
    position: static; }
  .section_banner_text_wrap .section_banner_heading:after {
    content: "";
    display: block;
    width: 49px;
    height: 27px;
    position: relative;
    top: -30px;
    left: 30%;
    background-color: #ff4e33;
    z-index: -1; }

.section_banner_button {
  color: #fff;
  background-color: #e3ac00;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 130px;
  float: right;
  position: relative;
  margin-top: 2.6%;
  margin-right: 12%; }

.footer {
  background-color: #3b3f50;
  z-index: -2; }
  .footer .footer-wrap {
    padding-top: 65px;
    height: 90px;
    margin: auto 10%; }
    .footer .footer-wrap .footer_logo {
      padding-top: 18px;
      width: 33%;
      float: left; }
      .footer .footer-wrap .footer_logo p {
        color: #d1d1d1;
        padding-left: 15px;
        position: relative;
        bottom: -7px; }
    .footer .footer-wrap .footer_text {
      width: 30%;
      float: left;
      margin: 15px 0 0 40px;
      font-family: "Hind", sans-serif;
      font-size: 10px; }
    .footer .footer-wrap .footer-cr {
      padding-top: 20px;
      width: 20%;
      float: right; }
