*{margin: 0; padding: 0;}
.landing-logo {bottom: 20px;}
.header  {
  position: relative;
  z-index: -2;
  height: 600px;
  background: $picture no-repeat center top;
  background-position: 0 200;
  background-size: 100% 700px;
  border-bottom-right-radius: 500px 200px;
  .header-wrap {margin: auto 10%;}
   .header_heading{
     width: 350px;
     white-space: pre-line;
     color: $header-textcolor;
     font-size: 45px;
     font-weight: 700;
    position: static;
 z-index: 2;}
   .header_heading:after{
    content:"";
    display: block;
    width: 190px;
	  height: 40px;
    position: relative;
    top: -40px;
    background-size: 100px 40px;
    background-color: $words-mark-color;
    z-index: -1;
   }
   .header_text{
     white-space: pre-line;
     color: $header-textcolor;
     font-size: 12px;
     font-family: $font1;
   }


   .landing-logo {
     padding-top: 20px;
      p{
        margin-left: 15px;
     color: $header-textcolor;
     font-weight: bold;
     letter-spacing: 4px;
   }
 }

   .login{
     display: inline-block;
     z-index: -1;
     margin-left: 60px;
     margin-top: 50px;
     color: $header-hasanacc-link-color;
   }
}

 .section_card_text,.section_banner_text, .footer_text, .footer-cr {
  color: $rest-text-color;
  font-family: $font1;
}
.header{
  text-decoration-color: $header-textcolor;
  font-family: $font1;
}
.landing-logo{
  display: flex;
  p span {
      display: block;
      letter-spacing: normal;
      font-size: 8px;
      font-weight: normal;
      margin-left: 10px;
          }
        }

        .section{position: relative;}
        .section_text {
          color: $banner-section-headercolor;
          display: block;
          position: static;
          text-align: center;
          font-family: $font1;
          font-weight: bolder;
          font-size: 25px;
          margin-top: 30px;
          letter-spacing: 0.035em;
        }
        .section_text::after{
          content:"";
          display: block;

          width: 128px;
          height: 40px;
          position: relative;
          top: -40px;
          left: 50.1%;
          background-color: $words-mark-color;
          z-index: -1;
        }
body {
          background-color: $mainpage-backgroundcolor;
        }

.section_card_wrap{
  top: 10px;
  min-height: 700px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.section_card{width: 860px; height: 230px;
  background-color: $blocks-footer-backgroundcolor;border-radius: 5px;
  //overflow: hidden;
  margin: 10px;
}
.section_card_img{padding: 10px;border-radius:5px;
  float: left;width: 280px;height: 210px;
}

button{
  color: $button-textcolor;
  background-color: $button-backgroundcolor;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 130px;
}
