*{margin: 0; padding: 0;}
.landing-logo {bottom: 20px;}
.header  {
  position: relative;
  z-index: -2;
  height: 600px;
  background: $picture no-repeat center top;
  background-position: 0 200;
  background-size: 100% 700px;
  border-bottom-right-radius: 500px 200px;
  .header-wrap {margin: auto 10%;}
   .header_heading{
     width: 500px;
     white-space: pre-line;
     color: $header-textcolor;
     font-size: 66px;
     font-weight: 700;
    position: static;
    z-index: 2;
    line-height: 1em;}
   .header_heading:after{
    content:"";
    display: block;
    width: 280px;
	  height: 55px;
    position: relative;
    top: -58px;
    background-size: 100px 40px;
    background-color: $words-mark-color;
    z-index: -1;
   }
   .header_text{
     white-space: pre-line;
     color: $header-textcolor;
     font-size: 12px;
     font-family: $font2;
     letter-spacing: 1px;
     line-height: 1.75em;
   }


   .landing-logo {
     padding-top: 20px;
      p{
        margin-left: 15px;
     color: $header-textcolor;
     font-weight: bold;
     letter-spacing: 4px;
   }
 }

   .login{
     display: inline-block;
     z-index: -1;
     margin-left: 60px;
     margin-top: 50px;
     color: $header-hasanacc-link-color;
   }
}

 .section_banner_text, .footer_text, .footer-cr {
  color: $rest-text-color;
  font-family: $font1;
}
.header{
  text-decoration-color: $header-textcolor;
  font-family: $font1;
}
.landing-logo{
  display: flex;
  p span {
      display: block;
      letter-spacing: normal;
      font-size: 8px;
      font-weight: normal;
      margin-left: 10px;
          }
        }

        .section{position: relative;}
        .section_text {
          color: $banner-section-headercolor;
          display: block;
          position: static;
          text-align: center;
          font-family: $font1;
          font-weight: normal;
          font-size: 33px;
          margin-top: 30px;
          letter-spacing: 0.035em;
        }
        .section_text::after{
          content:"";
          display: block;

          width: 155px;
          height: 40px;
          position: relative;
          top: -40px;
          left: 50.5%;
          background-color: $words-mark-color;
          z-index: -1;
        }
body {
          background-color: $mainpage-backgroundcolor;
        }

.section_card_wrap{
  top: 10px;
  min-height: 700px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 70px;
  }
.section_card{width: 860px; height: 230px;
  background-color: $blocks-footer-backgroundcolor;
  border-radius: 5px;
  margin: 10px;
}
.section_card_img{margin: 10px;border-radius:5px;
  float: left;width: 280px;height: 210px;
}
.section_card_right_container{
  margin: 35px 0 35px 0;
  min-height: 160px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section_card_heading{
  color: #fff;
  font-weight: normal;
  font-family: $font1;
  font-size: 16px;
}
.section_card_text{
  width: 380px;
  color: $rest-text-color;
  font-weight: normal;
  font-family: $font2;
  font-size: 11px;
}
.section_link{
  color: $rest-text-color;
  font-weight: normal;
  font-family: $font2;
  font-size: 11px;
}
.section_banner{position: relative;bottom: -45px;z-index: 0;
  width: 930px; height: 90px;
  margin: auto; border-radius: 7px;
  background: linear-gradient(90deg, $grad-start, $grad-end) ;
}
button{
  color: $button-textcolor;
  background-color: $button-backgroundcolor;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 130px;
}
.section_banner_text_wrap{
  float: left; margin: auto;
}
.section_banner_button{
  float: right;
  position: relative;
  margin-top: 2.6%;
  margin-right: 12%;
}
.footer{
  background-color: $blocks-footer-backgroundcolor;
  z-index: -2;
  .footer-wrap{
    padding-top: 65px;
    height: 130px;
    margin: auto 10%;
    //display: flex;
    //align-items: center;
    //align-content: space-around;
    .footer_logo{padding-top: 18px;
      p {color: $rest-text-color;
      padding-left: 15px;
    position: relative;bottom: -7px;}
      width: 33%;
      float: left;
    }
    .footer_text{
      width: 20%;
      float: left;
    }
  .footer-cr{
    padding-top: 20px;
    width: 20%;
    float: right;
  }
}}
