$mainpage-backgroundcolor: #fff;
$picture: url("../img/m-h-day.jpg");
$header-textcolor: #2c2f3c;
$header-hasanacc-link-color: #fff;
$font1: 'Source Sans Pro', sans-serif;
$banner-section-headercolor: #2c2f3c;
$button-backgroundcolor: #699900;
$button-textcolor: #fff;

$words-mark-color: #14a0c7;

$blocks-footer-backgroundcolor: #21232e;
$blocks-headercolor: #ffffff;

$rest-text-color: #c0c3ce;


$grad-start: #65950d;
$grad-end: #305ece;
