$mainpage-backgroundcolor: #21232e;
$picture: url("../img/m-h-night.jpg");
$header-textcolor: #fff;
$header-hasanacc-link-color: #fff;
$font1: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;
$banner-section-headercolor: #fff;

$button-backgroundcolor: #e3ac00;
$button-textcolor: #fff;

$words-mark-color: #ff4e33;

$blocks-footer-backgroundcolor: #3b3f50;
$blocks-headercolor: #ffffff;

$rest-text-color: #d1d1d1;


$grad-start: #dea404;
$grad-end: #953150;
