.tm-nav-item:hover {
  color: #fff;
  background-color: lightskyblue;
}
.tm-banner{
  background: linear-gradient(to right,lightskyblue,burlywood);
}
#home{
  box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}
.tm-banner-inner{
  background-color: white;
}
.tm-banner-text{
  left:200px;
  text-shadow: 4px 4px 3px #333;
  position: relative;
  animation: textslide 3s ease-out 1s 1 normal forwards;
}
@keyframes textslide {
  from { left:200px; }
  to { left:0px; }
}
.flex-2-col{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tm-box-bg-title:hover{
  font-style: italic;
  color: lightskyblue;
  background-color: lightgray;
}
.padding-medium h2{
  color: lightskyblue;
  text-align: center;
}
.padding-medium ol{
  list-style-type: lower-alpha;
}
.text::after{
  content: "New";
  display:inline-block;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
  color: red;
  vertical-align: super;
  font-size: 50%;
}
.padding-medium li:hover::before{
  content: ">";
}
.blocks h2:nth-child(1){
  text-align: left;
}
.blocks p:nth-of-type(2){
  font-style: italic;
  word-spacing: 10px;
  letter-spacing: 5px;
}
.gallery-container li{
  padding: 1%;
}
.blocks li:nth-child(2n+1){
  background-color: lightskyblue;
}
.box-work p::first-letter{
  font-weight: bold;
}
p.tm-section-description {
  text-indent: 25px;
  line-height: 30px;
}
#contact h2{
  text-align: left;
}
.contact-form input:focus{
  background-color: lightskyblue;
}
.contact-form input{
  border: none;
  border-bottom: 1px solid lightskyblue;
}
.contact-form textarea{
  border: 1px solid lightskyblue;
  background: url(../img/email-icon.png) 99% 96% no-repeat;
  background-size: 3%auto;
}
.contact-form textarea:focus{
  box-shadow: none;
  border: 1px solid lightskyblue;
}
.submit-btn{
  background: none;
  border: 1px solid lightskyblue;
  color: lightskyblue;
  float: right;
}
section{
  box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}
section::before{
  content:'';
  border: 20px solid transparent;
  border-left: 20px solid lightskyblue;
  border-top: 20px solid lightskyblue;
}
.tm-sidebar{
  box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}

@media print {
    #home {
      display: block;
    }
  .tm-team-description-container {
    max-width: 750px;
  }
  p.tm-section-description {
    text-align: center;
    text-indent: 0px; }
  *{
    justify-content: center;
  }
  section.blocks{
    display: flex;
  }
  .blocks h2:nth-child(1) {
    text-align: center;
  }
  .padding-medium {
    padding: 0px; width: 1000px;
  }
  .tm-main-content {
    padding-top: 0px;
  }
  body{
    padding-top: 0;
  }
  .tm-content-box{
    display: flex;
  }
  .padding-medium ol {
    list-style-type: none;
    max-width: 300px;
    position: relative;
    left: 140px;
  }
  li:nth-child(2n) {
    text-align: left;
  }
  li:nth-child(2n+1) {
    text-align: right;
  }
  #tmCarousel {
    display: block; padding: 0;
  }
  ::before, .text::after, ul, .gallery-container, .tm-content-box:last-of-type,
  .carousel-indicators, .tm-sidebar, .tm-team-img{
     display: none;
   }
  .tm-content-box{
    margin:0;
  }

}
